<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">


        <!-- redis配置 -->
        <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
                <property name="maxIdle" value="${redis.maxIdle}" />
                <property name="maxTotal" value="${redis.maxTotal}" />
                <property name="minIdle" value="${redis.minIdle}" />
        </bean>

        <!-- redis连接池 -->
        <bean id="jedisPool"  class="redis.clients.jedis.JedisPool">
                <constructor-arg name="poolConfig" ref="poolConfig"/>
                <constructor-arg name="host" value="${redis.host}"/>
                <constructor-arg name="port" value="${redis.port}"/>
                <constructor-arg name="password" value="${redis.password}"/>
                <constructor-arg name="timeout" value="${redis.timeout}"/>
        </bean>



</beans>